.logo{
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1302px;
  height: 290px;
}

.fields {
  padding-top: 70px;
}

.fields input{
  padding: 30px;
  width: 500px;
  font-size: 18pt;
}

.fields textarea {
  padding: 30px;
  width: 500px;
  font-size: 16pt;	
}

#arrows{
  position: absolute;
  display: block;
  bottom: 200px;
  right:25%;
  left:50%;
  margin-left:-150px;
}

#left{
  width: 50px;
  height: 50px;  
}

#right{
  width: 50px;
  height: 50px;
  margin-left: 20px;
}


#login_page{
  background-color: white;
  position: relative;
  left: 0;
  right: 0;
  height: 900px;
  text-align: center;
}

#login_btn{
	margin-top: 40px;
}

#main_page{
  margin-top: 10px;
}


.major{
    position:relative;
}


